.containerSpaceAround {
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
}

@media screen and (max-width: 600px) {
  .containerSpaceAround {
    flex-direction: column;
    flex-wrap: wrap;
  }
}

.poster {
  border-radius: 20px;
  box-shadow: 0.5em 1em 1em rgb(64, 64, 70);
  /* width: 80%; */
  height: 500px;
}

@media screen and (max-width: 960px) {
  .poster {
    margin: 0 auto;
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .poster {
    margin: 0 auto;
    width: 100%;
    height: 350px;
    margin-bottom: 30px;
  }
}

.genresContainer {
  margin: 10px 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.genreImage {
  /* filter: invert(1); */
  margin-right: 10px;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .links {
    padding: 0.5rem 1rem;
  }
}

.castImage {
  width: 100%;
  max-width: 7em;
  height: 8em;
  object-fit: cover;
  border-radius: 10px;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
/* max-width
t means if screen is less than 600px then the above block code will work?
ChatGPT
Exactly. When the screen width is less than or equal to 600 pixels, the styles within the @media screen and (max-width: 600px) block will be applied

min-with--600px
If you want to apply styles when the screen width is equal to or greater than 600 pixels, */
@media screen and (max-width: 900px) {
  .buttonContainer {
    flex-direction: column;
    /* margin: 2px; */
    justify-content: space-evenly;
  }
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.video {
  width: 50%;
  height: 50%;
}

@media screen and (max-width: 600px) {
  .video {
    width: 90%;
    height: 90%;
  }
}
