.root {
  display: 'flex';
  height: '100%';
}
body {
  background-image: repeating-linear-gradient(
      to right,
      #fff2f5,
      #fff0f3,
      1px,
      transparent 1px,
      transparent 30px
    ),
    repeating-linear-gradient(
      to bottom,
      #fcedf0,
      #fcedf0,
      1px,
      transparent 1px,
      transparent 30px
    );
}
.content {
  flex-grow: 1;
  margin-top: 10px;

  padding: 2em 2em 2em;
}
@media (min-width: 600px) {
  .content {
    margin-left: 250px;
  }
}
.toolbar {
  height: '100px';
}
