/* styles.css */
.imageLink {
  text-decoration: none;
}

.img {
  width: 200px; /* Adjust the width as needed */
  height: auto; /* Adjust the height as needed */ /* Default filter for light mode */
  /* content: url('https://fontmeme.com/permalink/210930/8531c658a743debe1e1aa1a2fc82006e.png'); */
  /* Default image for light mode */
}

.dark-mode .img {
  filter: grayscale(100%); /* Adjust filter for dark mode */
  /* content: url('https://fontmeme.com/permalink/210930/6854ae5c7f76597cf8680e48a2c8a50a.png'); */
  /* /*Adjust image for dark mode */
}
.links {
  text-decoration: none;
  color: #000; /* Set your link color */
}

.links:hover {
  color: #007bff; /* Set your link hover color */
}
.logo {
  height: 100px;
  width: 100%;
}
