* {
  font-family: 'Kalam', cursive;
  font-family: 'Pacifico', cursive;
  font-family: 'Single Day', cursive;
  font-family: 'Young Serif', serif;
}
/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f0f0f0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #000000, #7e6890, #cc2e97);
  border-radius: 10px;
  border: 3px solid #bdc3c7;
  transition: background 0.3s ease, transform 0.5s ease; /* Add animation to the background color and transform */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(45deg, #cc2e97, #7e6890, #000000);
  animation: pulse 0.5s ease-in-out, bounce 0.5s ease-in-out; /* Add pulse animation on hover and bounce animation */
}

/* Pulse Animation */
@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

/* Bounce Animation */
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(-10px);
  }
}

/* Button */
::-webkit-scrollbar-button {
  display: none;
}

/* Corner */
::-webkit-scrollbar-corner {
  background: #ecf0f1;
}

/* Resizer */
::-webkit-resizer {
  background: #ffffff;
}

/* Global Reset for Text Decoration */
* {
  text-decoration: none;
}
